<!--
  Generated template for the PopoverinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="close()">Close</button>
    </ion-buttons>
    <ion-title>More Information</ion-title>
  </ion-navbar>

</ion-header>
<ion-content  >
  <ion-item *ngIf="refFlag == 'submitPrayer' ">
    <h2 style="width: 300px;" ><b>Prayer Request Privacy Info:</b></h2>

    <br>

    <p class="msgBody" > All Prayer requests are kept private by default. This means that
    your request will not be published in the bulletin or sent through the
    prayer chain. You can allow your request to be published by checking
     "Publish my request" when submitting your request through the app. If
    you check this option, another option for publishing the request on
    the app will be displayed. Please also check this option if you wish
      for your request to be published on the app. </p>

    <br>

    <p class="msgBody"> Remember that the app is
    available to the public. Even though the request is public, we still
    encourage you to share it on the app if you can. Publishing your request on the app
    makes it easy for anyone to pray for your request at anytime from anywhere
    in the world with an Internet connection. If you do decide to publish your request on
    the app, you can protect your privacy by limiting personal information, instead opting
    to replace names with titles or how you are related to the subject. Ex: My Father's Health
    or My Friend is Moving. Generally, we will publish your name, so continuing with the above examples
    we will publish something like: Robert Smith's Father's Health, or Christopher Rice's friend is
    moving. </p>

    <br>

    <p class="msgBody">It is important to note that your requests are never automatically published, but
    are viewed by the Church Office and Pastoral Staff first. If we think that you have made a mistake, or
    if we believe that you accidentally chose to publish a very personal request, we will reach out to you.
    So make sure that your name and email are correct so we can contact you. If you wish to take down, change,
    or stop your request from being published, contact us at the Church office: (Phone: (716)-487-1636)
    (Email: office@busticog.org). You can include any stipulations regarding the privacy of your request
    within your prayer request. We look forward to hearing from you and praying for your needs.</p>


  </ion-item>
  <ion-item *ngIf="refFlag == 'frontPage'" >

    <h2><b> Church Info: </b></h2>
    <br>
    <p class="msgBody"><b>Phone:</b> (716) 487-1636</p>
    <p class="msgBody"><b>Email:</b> office@busticog.org</p>
    <p class="msgBody"><b>Address:</b> 996 Forest Ave Ext. Jamestown, NY 14701</p>
    <br>
    <h2><b> Sunday Services: </b></h2>
    <br>
    <p class="msgBodyService"><b>8:00 am Traditional Service:</b>
      Open to people of all ages. This service offers a more intimate worship experience
      led by a worship team of singers and instrumentalists with a more traditional feel.
      We sing mostly hymns. Pastor Roy Ferguson leads the teaching time.</p>
    <br>
    <p class="msgBodyService"><b>10:45 am Contemporary Service:</b>
      Open to people of all ages. This service has a more contemporary edge to it with a worship band and vocalists.
      Pastor Roy leads the teaching time. <i>Children's programs during this service - </i> KidZone:
      creates a safe, yet high-energy, interactive environment for kids to learn about God.</p>

      <br>
    <p class="msgBodyService"><b>Rejoicing Spirits:</b>
      On the first Sunday of every month, at 4:00 pm, we have a worship service designed to engage individuals
      with developmental disabilities. The goal is to reach out and encourage people with developmental
      disabilities to become part of a faith community. The service is adapted to engage the attention and
      interest of individuals with special needs along with their caregivers, families, and other supportive
      members in the community. The environment is accepting and welcoming to <b>all</b> children of God. </p>
  </ion-item>
</ion-content>
