

@import url('https://fonts.googleapis.com/css?family=Suez+One');

.main-audio{
  margin-bottom: 0px;
  word-wrap: break-word;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.audioStyle{
  position: relative;
  width: 100%;
}
.audioTitle{
  font-family: 'Suez One', serif;
}
.sermonGiver{
  font-family: 'Suez One', serif;
  font-size: .5em !important;
  padding-top: 5px;
}
/**
audio.audioStyle::-webkit-media-controls-panel{
  background-color: #007aff;
}

audio.audioStyle::-webkit-media-controls-play-button{
  background-color: #007aff;
  color: white;
}

audio.audioStyle::-webkit-media-controls-timeline-container{
  background-color: white;
}
**/
audio.audioStyle::-webkit-media-controls-panel{
  background-color: white;
}
.bottom{
  margin-bottom: 25px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0px rgba(0, 0, 0, 0.4), 0 1px 5px 0 rgba(0, 0, 0, 0) !important;

}

