<!--
  Generated template for the AudioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Audio Sermons</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="main-audio" ion-item *ngFor="let item of items" >

    <ion-card-header class="home-header">
      <ion-item style="padding: 0px;">
        <ion-avatar  item-left>
          <img id="home-thumb" class="thumb" *ngIf="item.featured_image_urls && item.featured_image_urls.medium" [src]="item.featured_image_urls.medium">
        </ion-avatar>
        <h2 class="homeTitle"  [innerHTML]="item.title.rendered"></h2>
      </ion-item>
      <audio class="audioStyle" controls preload="none">
        <source src="{{item['acf']['media_url']}}" type="audio/mpeg">
      </audio>
    </ion-card-header>
    <hr>
    <ion-card-content>
      <p class="exc" [innerHTML]="item.acf.speaker"></p>
    </ion-card-content>

  </ion-card>



  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
