<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Blog Articles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="network == 'down'">
    <hr>
    <h3 style="text-align: center; color: #303030;"><i>Offline - Pull to Refresh</i></h3>

  </ion-item>

  <ion-list>
    <button class="blogItem" ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-avatar item-left>
        <img class="thumb" *ngIf="item.featured_image_urls && item.featured_image_urls.thumbnail" [src]="item.featured_image_urls.thumbnail">
      </ion-avatar>
      <h2 [innerHTML]="item.title.rendered"></h2>
      <p [innerHTML]="item.excerpt.rendered"></p>
    </button>
  </ion-list>

  <div *ngIf="eopFlag === true">
    <hr><h4 style="text-align: center; color: lightgray;"><i>No More Articles</i></h4><hr>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
