page-network-down {

}
.error-img{
  padding: 0px !important;
}
.error-header{
  padding: 0px !important;
  background-image: url("assets/img/errorMsg.png");
  background-size: 100%;
}
.error-title{
  padding-left: 16px;
}
