<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color: white;"></ion-icon>
    </button>
    <ion-title >Busti Church of God</ion-title>
    <ion-buttons end>
      <button style="background-color: #303030; " (click)="presentPopover($event)">
        <ion-icon class="infoButton" name="ios-information-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="network == 'down'">
    <hr>
    <h3 style="text-align: center; color: #303030;"><i>Offline - Pull to Refresh</i></h3>

  </ion-item>

  <ion-card *ngFor="let item of itemsPin" (click)="itemTapped($event, item)">
    <img class="card-img" *ngIf="item.featured_image_urls && item.featured_image_urls.medium" [src]="item.featured_image_urls.large">
    <ion-card-header class="home-header">

      <ion-item style="padding: 0px;">
        <h2 class="homeTitle"  [innerHTML]="item.title.rendered"></h2>
      </ion-item>
      <div class="pin-container" >
        <ion-icon class="block-pin" ios="ios-megaphone" md="ios-megaphone"></ion-icon>
        <h4 class="block-pin">Pinned Post</h4>
      </div>
    </ion-card-header>
    <ion-card-content>
      <p class="exc" [innerHTML]="item.excerpt.rendered"></p>
    </ion-card-content>

  </ion-card>



  <br>
  <ion-item>
  <h1 class="sep"> {{news}} </h1>
  </ion-item>
  <br>

  <ion-card *ngFor="let item of items" (click)="itemTapped($event, item)">
    <img class="card-img" *ngIf="item.featured_image_urls && item.featured_image_urls.large" [src]="item.featured_image_urls.large">
    <ion-card-header class="home-header">
      <ion-item style="padding: 0px;">
          <h2 class="homeTitle"  [innerHTML]="item.title.rendered"></h2>
      </ion-item>
      <div class="pin-container" >
        <ion-icon class="block-news" ios="ios-paper-outline" md="ios-paper"></ion-icon>
        <h4 class="block-news">News</h4>
      </div>
    </ion-card-header>
    <hr>
    <ion-card-content>
      <p class="exc" [innerHTML]="item.excerpt.rendered"></p>
    </ion-card-content>

  </ion-card>

  <div *ngIf="eopFlag === true">
      <hr><h4 style="text-align: center; color: lightgray;"><i>No More Posts</i></h4><hr>
  </div>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
