page-home {

}
.posts{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  margin-bottom: 25px;
  word-wrap: break-word;
  border-bottom: 0px;
  border-left: 7px solid #FF772A;


}
.exc{
  white-space: normal;
}
.block-pin{
  display: inline-block;
  color: #56BE00 !important;
  padding-right: 5px;
}
ion-avatar.block img{
  padding: 0px !important;
}
#home-thumb{
  height: 60px;
  width: 60px;
}
.homeTitle{
  font-size: 1.2em !important;
  white-space: normal;
}
.home-header{
  padding-top: 8px;
  padding-bottom: 8px;
}
.posts-pinned{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;

}
hr.sep {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 70%;
  text-align: center;

}
.pin-container{
  //margin-left: 76px;
}
.block-news{
  display: inline-block;
  color: #FF772A !important;
  padding-right: 5px;
}
.card-img{
  padding: 0px !important;
  max-height: 200px;
}
