page-sermon {

}
.input-hand > ion-input{
  border-bottom: 1px solid lightgray;
}
.x  > h3 {
  white-space: normal;
  word-wrap: break-word;
  color: white;
}
.x{
  background-color: #007aff;
}
.line{
  margin: 0px;
}
.but{

}
.but > button{
  background-color: #303030 !important;

}
.tear-off{
  border: 0;
  border-bottom: 2px dashed #ddd;
  background: #999;
}
#notes{
  height: 230px;
}
