page-post-detail {

}

#mainImg{
  padding: 0px;
  width: 100vw;

}
.scroll-content{
  padding-top: 0px;
}
.artBody{
  padding: 15px;
  padding-top: 0px;
}
.post-title{
  padding: 15px;
  background-color: rgba(0,0,0,0.7);
  color: white;
  bottom: 3px;
  position: absolute;
  margin: 0px;
  width: 100vw;

}
.main-container{
  position: relative;
  top: 0px;
  left:0px;
  padding: 0px;
  width: 100vw;
}
.block-aut{
  display: inline-block;
  padding-left: 0px;
  color: gray !important;
}
#author{
  padding-left: 10px;
}
.aut{
  padding-left: 15px;
}
