page-update-contact {

}
.question{
  border-bottom: 1px solid lightgrey;
}
#bottomQ{
  margin-bottom: 20px;
}
.headerReq{
  background-color: #007aff;
  color: white;
  border: 1px solid #007aff;

}
.question2{
  border-bottom: 1px solid lightgrey;
}
.question2 input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    Black !important;
}
.questionTA{
  background-color: rgba(240,240,240, 0.6);
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 0px solid #dadada;
  height: 70px;
}
#buttonCard{
  box-shadow: none;
}
.submitButton{
  background-color: #007aff;
}
.attndSelect{
  width: 100%;
  background-color: rgba(240,240,240, 0.6);
  border-radius: 0px;
  border: none;
  padding: 5px;
  color: gray;
}
