<!--
  Generated template for the SendinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Send Me Info About..</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <form (ngSubmit)="submitHandler()" *ngIf="emailFlag == true" >
    <ion-card >

      <ion-card-header class="x">
        <h2 style="color: white;" >Send Info About..</h2>
      </ion-card-header>
      <hr class="line">
      <ion-card-content class="input-hand">
        <ion-item name="container" class="container" *ngFor="let item of eArray; let i = index" [attr.data-index]="i">
          <ion-label class="label-e" >{{eArray[i]}}</ion-label>
          <ion-checkbox checked="false" name="{{q + i}}" id="{{q + i}}" [(ngModel)]="valueArray[i]" ></ion-checkbox>

        </ion-item>
      </ion-card-content>

    </ion-card>
    <ion-card >
      <ion-card-header class="headerReq">
        <h2 style="color: white;">Additional Questions/Concerns?</h2>
      </ion-card-header>
      <ion-item>
        <textarea  class="questionTA" [(ngModel)]="notes" name="comments" ></textarea>
      </ion-item>

    </ion-card>
    <ion-card class="last" >
      <ion-card-header class="headerReq">
        <h2 style="color: white;">Your Info</h2>
      </ion-card-header>
      <ion-card-content class="input-hand">
        <ion-input type="text" [(ngModel)]="name" name="name" placeholder="Name" ></ion-input>
        <ion-input type="email" [(ngModel)]="email" name="email" placeholder="Email" ></ion-input>
        <button class="submit" ion-button type="submit" block >Submit</button>
      </ion-card-content>


    </ion-card>


  </form>

</ion-content>
